---
import config from "@/config/config.json";
import ImageMod from "./ImageMod.astro";

type LogoDimension = `${number}px`;

const { src, srcDarkmode }: { src?: string; srcDarkmode?: string } =
  Astro.props;
const {
  logo,
  logo_darkmode,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_darkmode: string;
  logo_width: LogoDimension;
  logo_height: LogoDimension;
  logo_text: string;
  title: string;
} = config.site;

const { theme_switcher }: { theme_switcher: boolean } = config.settings;

const logoWidth = parseInt(logo_width.replace("px", ""), 10);
const logoHeight = parseInt(logo_height.replace("px", ""), 10);
---

<a href="/" class="navbar-brand inline-block">
  {
    src || srcDarkmode || logo || logo_darkmode ? (
      <>
        <ImageMod
          src={src ? src : logo}
          class:list={[`inline-block`, `${theme_switcher && "dark:hidden"}`]}
          width={logoWidth * 2}
          height={logoHeight * 2}
          alt={title}
          style={{
            height: `${logoHeight}px`,
            width: `${logoWidth}px`,
          }}
          format="webp"
        />
        {theme_switcher && (
          <ImageMod
            src={srcDarkmode ? srcDarkmode : logo_darkmode}
            class:list={"hidden dark:inline-block"}
            width={logoWidth * 2}
            height={logoHeight * 2}
            alt={title}
            style={{
              height: `${logoHeight}px`,
              width: `${logoWidth}px`,
            }}
            format="webp"
          />
        )}
      </>
    ) : logo_text ? (
      logo_text
    ) : (
      title
    )
  }
</a>
